<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
      <title>Please Log In</title>
  </head>
  <body>
      <h1>Please Log In</h1>

      <!-- 登录失败后定向链接/login?error=true -->
      <div th:if="${param.error}">Invalid username and password.</div>

      <!-- 推出登录后的定向链接/login?logout=true -->
      <div th:if="${param.logout}">You have been logged out.</div>

      <!-- 使用自动自定义processing api处理用户认证请求, 发送POST请求后跳转 -->
      <form method="post" th:action="@{/login_process}">
          <div>
              <input type="text" name="username" placeholder="Username"/>
          </div>
          <div>
              <input type="password" name="password" placeholder="Password"/>
          </div>
          <input type="submit" value="Log in" />
      </form>
  </body>
</html>